extends ../layout

block content
  .page-header
    h3 Member List
  if user
    a(class="btn btn-primary" role="button" href="/member/add") Add New Member
  table(class="table")
    thead
      tr
       th Last
       th First
       th Email
       th Major
       th Meetings
       th Minutes
       th Detail
    tbody
      each member in members
        tr
          td=member.profile.lastName
          td=member.profile.firstName
          td
            a(href="mailto:#{member.email}") #{member.email}
          td=member.profile.major
          td=member.meetings
          td=member.service
          td
            a(href="/member/#{member.profile.mnum}") View
  script(type='text/javascript').
    $("table").tablesorter({sortList: [[0,0]]})
