extends ../layout

block content
  h4 Event:#{event.title}
  if true
    h5 Sign Up
    form.form-horizontal(role='form', method='POST')
      input(type='hidden', name='_csrf', value=token)
      .form-group
        label(class='col-sm-2 control-label', for='mnum') M#
        .col-sm-8
          input.form-control(placeholder='M0XXXXXXX', type='text', name='mnum', id='mnum', autofocus=true)
      .form-group
        .col-sm-offset-2.col-sm-7
          button.btn.btn-success(type='submit')
            i.fa.fa-check
            | Sign Up
  h5 Registered
  table(class="table")
    thead
      tr
       th First
       th Last
       if user
         th Confirm Attendance
    tbody
      each member in members
        tr
          td=member.profile.firstName
          td=member.profile.lastName
          if user
            td
              a(href="/event/" + event.id + '/' + member.profile.mnum)
                |Confirm
  if user
    h5 Attended
    table(class="table")
      thead
        tr
         th First
         th Last
      tbody
        each member in confirmed
          tr
            td=member.profile.firstName
            td=member.profile.lastName
