extends ../layout

block content
  .page-header
    h3 Event List
  if user
    a(class="btn btn-primary" role="button" href="/event/add") Add New Event
  table(class="table")
    thead
      tr
       th Event Title
       th Start Time
       th End Time
       th Location
       th Summary
       th Details
       if user
         th Delete
    tbody
      each event in events
        tr
          td=event.title
          td=event.starttime
          td=event.endtime
          td=event.location
          td=event.summary
          td
            a(href="/event/#{event.id}") View
          if user
            td
              span(class="glyphicon glyphicon-trash", onclick="del('#{event.id}', '#{event.title}')")

  script(type='text/javascript').
    $("table").tablesorter({sortList: [[0,0]]});
  script(type='text/javascript').
    del = function(eventid, eventtitle) {
      if(confirm("Are you sure you want to delete " + eventtitle + '?')) {
        $.ajax({
            url: '/event/'+eventid,
            type: 'DELETE',
            data: {
              _csrf:'#{token}'
            },
            success: $.noop,
            error: $.noop
        });
      }
    }
